@import "~bootstrap/scss/bootstrap";
@import "partials/variables";
@import "partials/mixins";
@import "partials/common";
@import "partials/header";
@import "partials/footer";
@import "partials/pages";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans Condensed", sans-serif;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  header .header-top {
    background-color: #0282F9;
  }
  
  header .header-top ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  header .header-top ul li:last-child {
    margin-left: 40px;
  }
  
  header .header-top ul li a {
    color: white;
    font-size: 10px;
    font-weight: 600;
  }
  
  header .header-bottom {
    border-bottom: 1px solid #ebebeb;
  }
  
  header .header-bottom .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .header-bottom .navbar .logo {
    width: 80px;
    height: 80px;
  }
  
  header .header-bottom .navbar .logo a {
    display: inline-block;
  }
  
  header .header-bottom .navbar .logo img {
    width: 100%;
    height: 100%;
  }
  
  header .header-bottom .navbar .menu-header ul {
    display: flex;
  }
  
  header .header-bottom .navbar .menu-header ul li {
    padding: 0 10px;
  }
  
  header .header-bottom .navbar .menu-header ul li a {
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    line-height: 110px;
    display: inline-block;
  }
  
  header .header-bottom .navbar .menu-header ul li a:hover,
  header .header-bottom .navbar .menu-header ul li a.active {
    color: #0282F9;
    border-bottom: 4px solid #0282F9;
  }
  
  header .header-bottom .navbar .search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid #0282F9;
  }

  .jumbo {
    background-image: url("/images/jumbotron.jpg");
    padding: 210px 0;
  }
  
  