$fontSize: 16px;
$colorPrimary: #0282F9;
$spacing: 20px;
$colorTextMenu: #464646;
$secondary_text_color: #9f9f9f;
$colorDarkSection: #1c1c1c;
$colorTitle: #003f5e;
$borderDetailsColor: #e3e3e3;
$colorTextDarkSection: #fff;
$footer_bg_color: #303030;
$footer_title_color: #fff;
$footer_text_color: #959595;
$footer_socials: facebook, twitter, youtube, pinterest, periscope;
$columnSpacing: 15px;
$iconColorHover: #e9e9e9;
// variabile per la dimensione delle icone nell'immagine
$icon_box_image_size: 37px;